environment.json
data/
_samples/
_archive/
_evaluation/
*.out

# Experiment output folders
test/
ckpt/
nohup/
logs/
samples/
model/

# snap/jpy bridge
?/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
